$red: #f38181;
$yellow: #fce38a;
$green: #eaffd0;
$teal: #95e1d3;


$color-bg: #f4f4f4;
$color-bg-md: #c4cacf;
$color-bg-md2: #AEAEA5;

$color-primary: $teal;
$color-secondary: $green;
$text-color: #0f0f0f;
