// This stores all the variables that will be used in stylesheets

// Basic color palette
$red: #DC3F3E;
$yellow: #E7C643;
$green: #53C16E;
$teal: #95e1d3;

// Background color palette
$color-bg: #fdfdfd;
$color-bg-md: #c4cacf;
$color-bg-md2: #AEAEA5;

$color-primary: $teal;
$color-secondary: $green;

// Text 
$text-family-primary: 'Abril Fatface', cursive;;
$text-family-secondary: 'Open Sans', sans-serif;;
$text-color: #323031;

$default-font-weight: default;
$heading-font-weight: normal;

$default-line-spacing: default;
$heading-line-spacing: .05em;

// $colors: ("red":$red, ""#E7C643, #53C16E, #95e1d3);

// :root {
//     @each $name, $val in $colors {
//         --color-#{$name}: $val;
//     }



//     --color-red: #DC3F3E;
//     --color-red: $yellow;
//     --color3
//     --color-4
//     --color-5
//     --color-6
//     --color-7
//     --color-8
// }
