@import './variables';
@import './text';
@import './navbar';

// Section for importing other people's CSS snippets
@import './checkboxradio';

.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.color-grid > div {
    height: 100px;
}


.color-grid > div:nth-child(1) {
	background-color: $red;
}

.color-grid > div:nth-child(2) {
	background-color: $yellow;
}

.color-grid > div:nth-child(3) {
	background-color: $green;
}

.color-grid > div:nth-child(4) {
	background-color: $teal;
}

.color-grid > div:nth-child(5) {
	background-color: $color-bg;
}

.color-grid > div:nth-child(6) {
	background-color: $color-bg-md;
}

.color-grid > div:nth-child(7) {
	background-color: $color-bg-md2;
}

.color-grid > div:nth-child(8) {
	background-color: $text-color;
}

// .color-grid > div:nth-child(9) {
// 	background-color: ;
// }

// .color-grid > div:nth-child(10) {
// 	background-color: ;
// }
	
// .color-grid > div:nth-child(11) {
// 	background-color: ;
// }
	
.container {
	width: 90%;
	margin: auto;
}

section {
	border: 5px solid $color-bg-md2;
	padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

label {
    display: block;
    margin: 0 0 1em 0;
  }

button {
	--weight: normal; 

	/* Give the button a finger cursor */
	cursor: pointer;
	/* Style the button */
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 0.5em;
	padding: 0.7em 1em; /* Use padding to give the text some space */
	font-size: 1em;

	/* Think about adding a transition */
	transition: 200ms;

	/* Use some variables to control the appearance */
	font-weight: var(--weight);
    background-color: var(--background-color, var(--color-primary));
    // background-color: var(--background-color, var(--color-primary));
	color: var(--color-light);
}